.wrapper-header {
  border-top-left-radius: 2.5rem;
  background-color: grey;
  padding: 20px;
  display: flex;
  justify-content: end;
  font-size: 20px;
}

.back-button {
  width: 25%;
}

.back-button img {
  width: 25px;
}

.header-title {
  color: black;
  width: 50%;
  text-align: center;
}
