* {
  box-sizing: border-box;
  color: black;
}

.absolute {
  position: absolute;
}

.test {
  background-color: grey;
  margin-top: -140px;
}

body {
  background-color: wheat;
  color: black;
}

tr, th, td {
  text-align: left;
}

tr td {
  padding: 20px 0;
}

thead tr {
  border: 0.5px solid grey;
  background-color: #f0f0f0;
}

tbody tr {
  border: 0.5px solid grey;
  margin: 100px;
}

table {
  margin: 20px 10%;
  width: 80%;
  border-collapse: collapse;
}

button {
  color: #888866;
  border: none;
  background-color: #00ffff;
  padding: 15px;
}

select {
  border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.income {
  color: green;
}

.expense {
  color: red;
}

.padding-left-right {
  padding: 20px 20px;
}

.white {
  color: white;
}

.ungu {
  color: #5e0085;
}

.fz12 {
  font-size: 12;
}

.option-title {
  display: none;
}
 
/* Components Style */

/* Button Menu */
.button-menu-wrapper {
  padding: 5px 0;
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.button-menu-add img {
  width: 40%;
}

.form-wrapper {
  margin-top: 20px;
}

.form-description {
  margin-bottom: 20px;
}
.form-description-input {
  padding: 10px 5px 10px 5px;
  border: none;
  border-bottom: 1px solid #00ffff;
  font-size: 14px;
  width: 100%;
}

.form-amount {
  padding: 5px 5px 25px 5px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.form-amount-title {
  color: black;
}

.form-amount-input {
  padding: 10px 5px 10px 5px;
  border: none;
  border-bottom: 1px solid #00ffff;
  font-size: 14px;
}

.dropdown-category{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.dropdown-category select {
  padding: 10px 5px 10px 5px;
  background-color: #5e0085;
  color: white;
  width: 70%;
  text-indent: 5px;
}

.dropdown-category select option {
  color: white;
}

.form-category-input {
  padding: 10px 5px 10px 5px;
  border: none;
  border-bottom: 1px solid #00ffff;
  font-size: 14px;
  width: 100%;
}

.form-btn-simpan {
  width: 100%;
}

.form-content {
  padding: 20px;
}

.wrapper-header {
  border-top-left-radius: 2.5rem;
  background-color: #5e0085;
  padding: 20px;
  display: flex;
  justify-content: left;
  font-size: 20px;
  position: relative;
  z-index: 2;
}
.back-button {
  width: 25%;
}

.back-button img {
  width: 25px;
}

.header-title {
  width: 50%;
  text-align: center;
}

.wrapper-total-cashflow {
  margin: 10px 20px;
}

.history-date {
  font-size: 14px;
  background-color: #e5f1ef;
  padding: 5px;
  font-weight: 800;
  color: #738281;
}

.history-content {
  font-size: 18px;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

/* RowCashflow */
.evenly-color:nth-child(even) {
  background-color: white;
}

.row-cashflow {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-top: 1px solid grey;
}

.row-content {
  color: grey;
}

.btn-delete {
  background-color: white;
  color: red;
  border: 1px solid red;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Category */
.button-add-category {
  text-decoration: none;
}
.button-add-category img {
  width: 15%;
}

.wrapper-button-add-category {
  display: flex;
  align-items: center;
}

.add-category-title {
  margin-left: 10px;
}




/* Containers */
.wrapper {
  border-radius: 2.5rem;
  height: 95vh;;
  width: 300px;
  margin: 0 auto;
  color: white;
  overflow: hidden;
  background-color: white;
  border: 1px black solid;
  overflow: scroll;
}

.balance-container {
  padding: 70px 20px;
  margin: -70px 0;
  color: black;
  background-color: #5e0085;
  border-radius: 3em;
  position: relative;
  z-index: 1;
}

.balance-title {
  font-size: 14px;
}

.balance-cash {
  font-size: 18px;
}

.wrapper-list-income {
  color: black;
}

.menu-container {
  margin: 20px;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: space-around;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  position: relative;
  z-index: 5;
}

.history-container {
  display: flex;
  flex-direction: column-reverse;
}

.list-container {
  display: flex;
  flex-direction: column-reverse;
}

.doughnut-wrapper {
  margin: 0 20px 0 20px;
}